* { box-sizing: border-box }

body {
  font: 18px sans-serif;

  margin: 0;
  padding: 16px;

  background: green;
  color: white;

  display: grid;
  grid-gap: 10px;
  grid-template-areas: "your-score"
                       "their-score"
                       "your-cards"
                       "last-card"
                       "their-cards"
                       "game-over";
}

#your-score { grid-area: your-score }
#their-score { grid-area: their-score }
#your-deck { grid-area: your-cards; margin: 0 auto }
#last-card { grid-area: last-card; margin: 0 auto }
#their-deck { grid-area: their-cards; margin: 0 auto }

#game-over {
  grid-area: game-over;
  margin: 0 auto;
  font-size: 32px;
  font-weight: bold;
  color: yellow;
}

#your-score::before { content: 'Your score: ' }
#their-score::before { content: 'Their score: ' }

.card {
  display: inline-grid;
  align-items: center;

  width: 100px;
  height: 150px;
  margin: 8px;
  padding: 0;

  border-radius: 8px;
  border: 3px solid black;

  background: white;
  color: black;

  font-size: 24px;
  text-align: center;

  cursor: not-allowed;
}

.back { background: skyblue }

#your-deck .card { cursor: pointer }

.clubs::before { content: '♣️' }
.spades::before { content: '♠️' }
.hearts::before { content: '♥️'; color: red }
.diamonds::before { content: '♦️'; color: red }
